{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blobing/style.css' %}" >
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title> The Blobing Blog</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
<div class="container-fluid">
    <a class="navbar-brand" href="{% url 'blobing:home' %}"> <img src= "{% static 'B.jpg'  %}" width="50px"><img src="{% static 'B.jpg'  %}" width="50px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'blobing:home' %}"> <i class="fa-solid fa-house" style="color: #071e8d;"></i> Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'blobing:articles' %}"> <i class="fa-regular fa-keyboard" style="color: #071e8d;"></i> Create Blog</a>
        </li>
    </ul>
    <form class="d-flex" role="search" method="POST" action="{% url 'blobing:search-blogs' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div style="padding: 0px 10px " > 
        {% if user.is_authenticated %} 
    <form  method="post" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <button class="btn btn-outline-dark"  type="submit"> <i class="fa-solid fa-arrow-right-from-bracket" style="color: #071e8d;"></i>  Logout </button> 
    </form>              
        {% else %}
        <a class="btn btn-outline-dark" href="{% url 'accounts:login' %}"><i class="fa-solid fa-arrow-right-from-bracket" style="color: #071e8d;"></i> Log In</a>
        <a class="btn btn-outline-dark" href="{% url 'accounts:signup' %}"> <i class="fa-solid fa-user-plus" style="color: #071e8d;"></i>  Sign Up</a>
        {% endif %} 
    </div>
    </div>
</div>
</nav>
<header class="header">
    <h1 > The Blobing Blog </h1>
    {% if user.is_authenticated %}
    <h3><span class="badge bg-secondary">  Hello <a href= "{% url 'accounts:profile' user.username %}" style="color: palevioletred; " > {{ user.username }} </a> !! </span></h3>
    {% else %}
    <p><small>By <em> Yash Raj </em></small></p>
    {% endif %}    
</header>


{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show"  role="alert">
    <strong> Message: </strong> {{ message }}         
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}




{% block content %}

{% endblock content %}



</body>
</html>

