pre {
    white-space: pre-wrap;
}

a:link {
    text-decoration: none;
    
}

/* a:hover {font-size:150%;}  */

p {
    margin: 0 0 1.15em;
}

.header {
    background-color: rebeccapurple;
    color: #fff;
    padding: 24px;
}

.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
}

footer {
    border-top: 2px solid rebeccapurple;
}

.article-detail {
  border: 2px solid black;
  outline: #2bebe1 solid 0px;
  margin: auto;  
  padding: 20px;
  text-align: center;
}